.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding: 1rem 0;
}

.home-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page-image {
  width: 400px;
  height: 400px;
}

.home-page-title {
  color: #4C65A1;
  font-size: 6rem;
  margin: 0;
}

.home-page-tagline {
  color: #A6B1CE;
  font-size: 2.25rem;
  max-width: 19rem;
  margin: 0;
}

/** Styles for login form **/
.login-container-header {
  width: 360px;
  min-width: 280px;
  height: 3rem;
  background-color: #86477F;
  border-radius: 12px 12px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container-header p {
  color: #F6F4F0;
  font-weight: 600;
}

.login-container-body {
  height: 400px;
  width: 360px;
  min-width: 260px;
  background-color: #F6F4F0;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  padding-top: 1.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-lower-input {
  margin-top: 1.5rem;
}

.login-submit {
  margin-top: 2rem;
}

.login-message, .login-error {
  margin: 0;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.login-error {
  color: #E1227E;
  font-style: italic;
}