.dog-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  padding: 0 2rem;
}

.dogs-page-info {
  display: flex;
  align-items: center;
  margin: 3rem 0 3rem 3rem;
}

.dogs-page-info h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.dogs-page-info p {
  font-weight: 600;
  color: #474246;
}

.dogs-page-image {
  max-width: 250px;
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  margin-right: 2rem;
}

.favorites-button {
  background-color: #928FBC;
  color: #F6F4F0;
  border-radius: 1rem;
  border: none;
  height: 3rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  text-decoration: none;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
}

.favorites-button:hover {
  cursor: pointer;
  background-color: #A6B1CE;
}

.favorites-button:active {
  box-shadow: none;
  transform: translate(0.2rem, 0.2rem)
}

.filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #4C65A1;
  padding: 2rem;
  width: 65%;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
}

.filters-container a {
  text-decoration: none;
  width: 7rem;
  height: 3rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F4F0;
  color: #3E373D;
  border-radius: 1rem;
  box-shadow: 0px 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
}

.filter-box-container p {
  color: #F6F4F0;
  margin: 0 0 0.5rem 0;
}

.sorting {
  color: #F6F4F0;
}

.sorting p {
  margin: 0.5rem 0;
  font-weight: 600;
}

.zip-filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.zip-filter label {
  color: #F6F4F0;
  font-weight: 600;
}

.zip-filter input {
  height: 2rem;
  width: 6rem;
  border-radius: 0.5rem;
  border: none;
  padding-left: 0.5rem;
}

.page-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.page-selection a {

}

.logout-button {
  background-color: #928FBC;
  height: 1.5rem;
  width: 4rem;
  color: #F6F4F0;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
}

.logout-button:hover {
  cursor: pointer;
  background-color: #A6B1CE;
}

.logout-button:active {
  box-shadow: inset 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
}